spring:
  application:
    name: demo
  datasource:
#    url: ${SPRING_DATASOURCE_URL}
#    username: ${SPRING_DATASOURCE_USERNAME}
#    password:  ${SPRING_DATASOURCE_PASSWORD}
    url: jdbc:postgresql://localhost:5433/mobile
    username: postgres
    password: yasuo20gg
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: POSTGRESQL
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      encoding: UTF-8

# Swagger/OpenAPI configuration
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operationsSorter: method

server:
  port: 8080

# VNPAY Configuration (Sandbox)
# vnpay:
#   tmn-code: "CGXZLS0Z"
#   hash-secret: "XNBCJFAKAZQSGTARRLGCHVZWCIOIGSHN"
#   url: "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
#   return-url: "http://localhost:8080/api/v1/payment/vnpay/return"
